amqp
attrdict
bottle
certifi
chardet
configparser
contextlib2
crypto
fysom
gevent
greenlet
idna
kazoo
kombu
netaddr
netifaces
pathlib2
pycassa
python-keystoneclient
requests
scandir
setuptools
six
stevedore
thrift
vine
